{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'web/assets/mobirise-icons2/mobirise2.css' %}">
    <link rel="stylesheet" href="{%static 'tether/tether.min.css' %}">
    <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap-reboot.min.css' %} ">
    <link rel="stylesheet" href="{%static 'dropdown/css/style.css' %} ">
    <link rel="stylesheet" href="{%static 'socicon/css/styles.css' %}">
    <link rel="stylesheet" href="{%static 'theme/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap">
    </noscript>
    <link href="https://vjs.zencdn.net/7.15.4/video-js.css" rel="stylesheet" />
    <link rel="preload" as="style" href="{%static 'mobirise/css/mbr-additional.css' %}">
    <link rel="stylesheet" href="{%static 'mobirise/css/mbr-additional.css' %}" type="text/css">
</head>

<body>

    <div class="container mt-5">
        <section class="content1 cid-sKSoaZYTce " id="content1-a ">
            <div class="container ">
                <div class="mbr-section-head ">
                    <h1 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2 ">
                        <strong>Site en maintenance pour plus d'informations contactez le  +237 233 47 76 16</strong>
                    </h1>
                    <img src="{% static 'images/logo.png' %}" height="50" alt="no image">
                </div>

            </div>
        </section>

    </div>
</body>

</html>
